.register {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerWrapper {
    display: flex;
    width: 70%;
    height: 70%;
    max-width: 1200px;
}

.registerLeft,
.registerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLogo {
    font-size: 50px;
    font-weight: 900;
    color: #1775ee;
    margin-bottom: 10px;
}

.registerDesc {
    font-size: 24px;
}

.registerBox {
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerInput {
    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
}

.registerButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    -webkit-transition: filter .5s;
    transition: filter .5s;
}

.registerButton:focus,
.registerButton:hover {
    filter: brightness(120%);
}

.registerForgot {
    text-align: center;
    color: #1775ee;
}

.registerRegisterButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
}