.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.birthdayText b {
    font-weight: 700;
}

.rightbarAd {
    width: 100%;
    border-radius: 5px;
    margin: 30px 0;
}

.rightbarTitle {
    font-weight: 900;
    margin-bottom: 10px;
}

.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    border: 2px solid white;
    right: -5px;
}

.rightbarUsername {
    font-weight: 500;
}

.rightbarInfo {
    margin-bottom: 30px;
}

.rightbarInfoItem {
    margin-bottom: 10px;
}

.rightbarInfoKey {
    font-weight: 500;
    margin-right: 10px;
    color: #555;
}

.rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
}

.rightbarFollowing {
    display: flex;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
    -webkit-transition: filter .5s;
    transition: filter .5s;
}

.rightbarFollowing:focus,
.rightbarFollowing:hover {
    filter: brightness(120%);
}

.rightbarFollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.rightbarFollowingName {
    color: black;
    text-align: center;
}

.rightbarFollowButton {
    margin: 0 0 10px 0;
    background-color: #1775ee;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    -webkit-transition: filter .5s;
    transition: filter .5s;
}

.rightbarFollowButton:focus {
    outline: none;
    filter: brightness(120%);
}

.rightbarFollowButton:hover {
    filter: brightness(120%);
}